<div class="row">
<div class="col-md-12">
<h1>List</h1>
</div>
</div>
<div class="row">
<div class="col-md-6">
<% @todos.each do |f| %>

  <% if f.completed == true %>
  <%= f.description %>
  <%= f.completed %><br>
  <% end %>
<% end %>
</div>
<div class="col-md-6">
  <% @todos.each do |f| %>
    <% if f.completed == false %>
    <%= f.description %>
    <%= f.completed %><br>
    <% end %>
  <% end %>
</div>
</div>
